@font-face {
  font-family: Poppins;
  src: url(assets/font/Poppins-Regular.ttf);
}

*, html, body {
  font-family: Poppins;
  background-color: #2e2e2e;
  color: #fff;
} 

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

body {
  max-width: 98.6vw;
  max-height: 97vh;
}

body p {
  font-size: 2.5vmin;
}

.title {
  font-size: 4.5vmin;
  max-width: 100%;
  min-width: 40%;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.buttons > * {
  font-size: 2.8vmin;
  border-radius: 10px;
  background-color: transparent;
  transition: 150ms ease-in;
  transform-origin: left;
}

.buttons .rock-btn {
  border: 1px solid #46FF90;
  color: #46FF90;
}

.buttons .rock-btn:hover {
  cursor: pointer;
  border: 1px solid #2e2e2e;
  background-color: #46FF90;
  color: #2e2e2e;
}

.buttons .paper-btn {
  border: 1px solid #44BDFF;
  color: #44BDFF;
}

.buttons .paper-btn:hover {
  cursor: pointer;
  border: 1px solid #2e2e2e;
  background-color: #44BDFF;
  color: #2e2e2e;
}

.buttons .scissor-btn {
  border: 1px solid #FF4444;
  color: #FF4444;
}

.buttons .scissor-btn:hover {
  cursor: pointer;
  border: 1px solid #2e2e2e;
  background-color: #FF4444;
  color: #2e2e2e;
}

.results {
  display: grid;
  max-width: 80rem;
  min-width: 40rem;
  place-items: center;
  justify-content: center;
  grid-template-columns: 20rem 15rem 20rem;
  gap: 4rem;
  margin-top: 3rem;
}

.user-result{
  max-width: 20rem;
  min-width: 8rem;
}

.pc-result{
  max-width: 20rem;
  min-width: 8rem;
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 10rem;
}

.disabled {
  display: none;
}

.result {
  font-size: 4.2vmin;
}

.points {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.points p {
  margin: 0;
  background-color: transparent;
}

.play-again {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 425px)  {
    html, body {
      max-width: 425px;
      background-color: red;
    }

    .results {
      max-width: 425px;
    }
}


